body {
    padding-top: 102px;
}

#header-div {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#icon-div {
    display: flex;
    justify-content: center;
}

#border-div {
    height: 2px;
    width: 100%;
    background-color: #f6f9fc;
}

#login-register-button-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

#login-register-button-div > div {
    margin: 10px;
    color: gray;
}