body{
    padding-top: 50px;
}

#icon-div {
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: inherit;
    /*display: inline-block;*/
    /*display: flex;*/
    /*justify-items: center;*/
    /*alignment: center;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*padding-left: auto;*/
    /*padding-right: auto;*/
    /*background-color: green;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
    /*color: aqua;*/
    /*border-bottom: 5px;*/
    /*border-bottom: gray;*/
}

#icon-div > img {
    /*position: absolute;*/
    position: fixed;
    /*display: inline-block;*/
    /*top: 0;*/
    left: 45%;
    display: block;
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}

#border-div{
    position: fixed;
    top: 40px;
    height: 2px;
    width: inherit;
    /*display: inline-block;*/
    /*background-color: #eeeeee;*/
    background-color: green;
}