/* Responsive layout - when the screen is less than 900px wide, hide sms-img */
@media screen and (max-width: 1050px) {
    #sms-img {
        display: none;
    }
}

#nav-bar-div {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 0.9em;
    color: #4a5575;
}

.nav-bar-items {
    margin: 10px;
    padding: 5px;
    background-color: white;
}

.nav-bar-items > a {
    color: #4a5575;
}

.nav-bar-items > a:hover {
    color: var(--btn-bg-or-highlighted-color);
}

#separator {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}

#nav-border-div {
    background: linear-gradient(to right, red, purple);
    height: 3px;
}

#order-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("../mocks/pizza.PNG");
}

.order-div-items {
    margin: 10px;
}

#search-bar-div {
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    width: 50%;
    min-width: 430px;
}

#city-sel {
    border-radius: 10px;
    font-size: 1.5em;
    background-color: white;
    margin-left: 5px;
    padding-left: 10px;
    border-color: lightgray;
}

#search-input {
    display: flex;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid lightgray;
    width: 100%;
}

#search-input > input {
    border-width: 0;
    padding: 10px;
    width: 100%;
    font-size: 1.2em;
}

#search-input > input:focus {
    outline-width: 0;
}

#search-input > div {
    padding: 15px;
}

#search-input > div > i {
    background-color: white;
    color: lightgray;
    font-size: 1.8em;
}

#search-btn-icon-div {
    padding: 15px 10px 10px 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(to right, red, purple);
    color: white;
}

#search-btn-icon-div > a {
    color: white;
}

#guidance-div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #4a5575;
    text-align: right;
    margin-bottom: 100px;
}

.guidance-div-items {
    flex-basis: 360px;
}

.guidance-des-pic-div {
    display: flex;
    padding: 10px 15px 10px 10px;
    box-shadow: 1px 1px 2px 2px lightgray;
    justify-content: center;
    align-items: center;
}

#best-of-the-month {
    text-align: center;
}

#best-of-the-month-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

#best-of-the-month-div > a {
    flex-basis: 360px;
    margin: 10px;
}

.best-month-div-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    height: 365px;
    box-shadow: 0 0 3px lightgray;
}

.best-month-div-items:hover {
    box-shadow: 0 0 10px lightgray;
}

.best-month-div-items > div > img {
    box-shadow: 1px 1px 2px 2px lightgray;
}

.best-month-div-items > p {
    color: gray;
}

.stars {
    display: flex;
    color: lightgray;
}

.stars > i {
    color: orange;
}

.rate-number {
    color: orange;
}

.order-bst-rest-btn {
    color: var(--btn-bg-or-highlighted-color);
    border-color: var(--btn-bg-or-highlighted-color);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    padding: 5px 25px 5px 25px;
    margin-top: 10px;
}

#best-restaurant-title {
    text-align: right;
}

#best-restaurant-div {
    padding: 50px;
    background-image: url("../mocks/best-restaurunt.png");
}

#best-rest-grid {
    display: grid;
    justify-items: end;
    justify-content: end;
    grid-template-columns: auto auto auto auto; /*make 4 columns*/
    grid-gap: 60px;
    text-align: center;
    font-size: 0.85em;
}

.grid-item > div > img:hover {
    box-shadow: 0 0 10px lightgray;
}

#food-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--main-bg-color);
}

#food-photo-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#food-photo-div > * {
    margin: 10px;
}

.food-photo-items {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    color: white;
    height: 260px;
    width: 260px;
    padding: 10px;
    box-shadow: 0 -20px 40px 15px black inset; /*make dark shadow in background*/
}

.food-photo-items:hover {
    padding-top: 3px;
    padding-bottom: 17px;
}

#food-photo-items-1 {
    background-image: url("../mocks/foods/food(1).jpg");
}

#food-photo-items-2 {
    background-image: url("../mocks/foods/food(2).jpg")
}

#food-photo-items-3 {
    background-image: url("../mocks/foods/food(3).jpg")
}

#food-photo-items-4 {
    background-image: url("../mocks/foods/food(4).jpg")
}

#more-food-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

#more-food-div > * {
    margin: 10px;
}

.more-food-items {
    /*margin: 10px;*/
    padding: 12px;
    border-radius: 20px;
    background-color: white;
}

.more-food-items:hover {
    box-shadow: 0 0 7px lightgray;
}

#sms-div {
    background-color: var(--main-bg-color);
    padding-top: 250px;
    padding-bottom: 40px;
    position: relative;
}

#sms-img {
    position: absolute;
    left: -150px;
    top: 100px;
}

#sms-txt-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    padding: 50px 20px 40px 20px;
}

#sms-txt-div > p {
    font-size: 1.1em;
}

#sms-txt-div > h6 {
    color: #9baac0;
}

#sms-input-div {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    min-width: 350px;
}

#sms-input-div > input {
    padding: 15px;
    text-align: right;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 1.2em;
    width: 50%;
    border-width: 1px;
}

#sms-input-div > input:focus {
    outline-width: 0;
    border: 1px solid purple;
}

#sms-button {
    padding: 20px 30px 20px 30px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background: linear-gradient(to right, red, purple);
    color: white;
    font-size: 0.9em;
}

#store-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 60%;
    min-width: 450px;
}

#store-icons > * {
    margin: 5px;
}

#store-icons > a > img:hover {
    box-shadow: 0 0 7px lightgray;
}

#store-icons > a > img {
    border-radius: 10px;
}

#footer-div {
    background-color: #202020;
    color: white;
    padding-top: 40px;
}

#footer-cols-div {
    display: flex;
    justify-content: center;
    text-align: right;
    flex-wrap: wrap;
}

.footer-items {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-basis: 170px;
}

.footer-store-icons > img {
    border: 1px solid gray;
    border-radius: 10px;
}

.footer-items > a {
    color: #939b89;
    margin: 3px;
}

.footer-item-line {
    height: 3px;
}

#footer-line-1 {
    background-color: #ffc300;
}

#footer-line-2 {
    background-color: #ff0613;
}

#footer-line-3 {
    background-color: #d40062;
}

#footer-line-4 {
    background-color: #8b00af;
}

#footer-paragraph {
    flex-basis: 300px;
    padding-top: 30px;
}

#footer-paragraph > div {
    color: #939b89;
}

#rest-list {
    color: #5890ff;
}

#enamad-div {
    display: flex;
    justify-content: center;
}

#footer-social {
    background-color: #191919;
    padding: 1vw 5vw 1vw 5vw;
    color: #939b89
}

#footer-social-row {
    display: flex;
}

#footer-social-row > a {
    margin: 10px;
}

#footer-social-row > a > i {
    font-size: 1.8em;
    color: gray;
}

#copy-right {
    text-align: right;
    font-size: 0.9em;
}