body {
    /*padding: 0px;*/
    margin: 0;
}

#nav-bar-div {
    display: flex;
    flex-direction: row-reverse;
    padding-left: 30px;
    padding-right: 30px;
    font-family: Shabnam;
    font-size: 15px;
    color: #4a5575;
    background-color: white;
}

.nav-bar-option {
    margin: 10px;
    padding: 5px;
}

.nav-bar-option > a {
    color: #4a5575;
}

.nav-bar-option > a:hover {
    color: #d20064;
}

#separator {
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
    padding-left: 0;
}

#nav-border-div {
    background: linear-gradient(to right, red, purple);
    height: 3px;
}