body {
    padding-top: 104px;
}

/*Header style*/
#header-div {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; /*so important in fixed positioning*/
}

#icon-div {
    display: flex;
    justify-content: center;
    background-color: white;
}

#border-div {
    height: 2px;
    width: 100%;
    background-color: var(--loign-register-bg-color);
}

#login-register-button-div {
    display: flex;
    justify-content: center;
    background-color: white;
}

#login-register-button-div > a {
    padding: 15px 30px 15px 30px;
}

#login-register-button-div > a:hover {
    color: var(--btn-bg-or-highlighted-color);
}

#login-header-button {
    color: var(--loign-register-txt-color);
}

#register-header-button {
    color: var(--btn-bg-or-highlighted-color);
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: var(--btn-bg-or-highlighted-color);
}

/*Input div style*/
#inputs-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--loign-register-txt-color);
    background-color: var(--loign-register-bg-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.input-div {
    display: flex;
    margin: 5px;
    width: 480px;
}

.input-div > div > i {
    background-color: white;
    padding: 10px;
}

#phone-email-div {
    display: flex;
    width: 490px;
}

.input-div > input {
    border-width: 0;
    padding: 10px;
    width: 100%;
}

#register-button {
    background-color: var(--btn-bg-or-highlighted-color);
    color: white;
    margin-top: 50px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}

/*footer style*/
#footer-div {
    background-color: white;
}

#footer-social-div {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#footer-social-div > i {
    background-color: gray;
    color: white;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#footer-border-div {
    height: 2px;
    background-color: var(--loign-register-bg-color);
}

#footer-more-option-div {
    display: flex;
    justify-content: center;
    color: var(--loign-register-txt-color);
    padding: 10px;
}

#footer-more-option-div > div {
    margin: 10px;
}